body {
}

/*.w10.ind-19 {*/
.CiTitle {
    position:fixed!important;
    right:10px!important;
    left:auto!important;
    top:40px!important;
    opacity:1!important;
    background: #888!important;
    color: #fff!important;
    padding-right: 50px!important;
    padding-left: 50px!important;
}

#CiIndex{
  border-right:8px solid #fafafa;
}

#CiContent {
  font-family: Georgia, "Nimbus Roman No9 L", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
/*
  font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", serif;
  */
  font-size:25px;
  line-height:40px;
  color:#666;
  text-align:right;
}

#CiBanner{
  font-family: Georgia, "Nimbus Roman No9 L", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
    position:fixed;
    right:10px;
    left:auto;
    top:40px;
    background: #aaa;
    color: #fff;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
}

#CiBanner .title {
    cursor:pointer;
    max-width:600px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}



.cipai.active {
    opacity:1;
    color:black!important;
}


#CiBottom {
    cursor:pointer;
    position:fixed;
    bottom:40px;
    right:0px;
    width:100%;
    background:#555;
    font-size:15px;
    color:#aaa;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:25px;
    text-align:right;
    padding-left:200px;
    font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
    box-shadow:1px 3px 5px grey;
}

#CiBanner .sourcelink{
    font-size:12px;
}


